<div id="myModal" class="modal d-block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog bg-warning">
        <div class="modal-content bg-dark">
            <div class="modal-header bg-warning">
                <h3 id="myModalLabel">Create a private message to {{modalDialog.reciverName}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="onClose()">×</button>
            </div>

            <form (ngSubmit)="onPost(f)" #f="ngForm">
                <div class="modal-body text-light">

                    <div class="form-group row">
                        <label for="inputHeader" class="col-form-label text-warning">
                            Header
                        </label>
                        <div class="col-5">
                            <input type="text" class="form-control-plaintext" id="inputHeader" name="inputHeader"
                                ngModel placeholder="Header" required #header="ngModel" #header />
                        </div>
                    </div>

                    <label for="inputSubject" class="col-form-label text-warning">Subject</label>
                    <hr class="bg-warning" />

                    <textarea name="inputSubject" id="inputSubject" cols="30" rows="10"
                        class="text-warning bg-secondary" ngModel required #subject="ngModel" #subject></textarea>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal" aria-hidden="true"
                        (click)="onClose()">Close</button>
                    <button type="submit" class="btn btn-warning" [disabled]="!f.valid">Post</button>
                </div>
            </form>

        </div>
    </div>
</div>