<nav class="navbar navbar-expand-md navbar-secondary bg-secondary sticky-top">
    <div class="container-fluid">
        <h3 class="text-warning">Client agent</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="text-warning">...</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-warning" (click)="onPrivate()">Private message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-warning" (click)="onGlobal()">Public message</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link badge badge-warning pl-1 pr-1" (click)="onSignOff()">Sign off</a>
                </li>
            </ul>
        </div>
    </div>
</nav>