<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <br>
            <h1 class="text-warning">Sign in, start chatting</h1>
            <br>
        </div>
    </div>

    <div class="row justify-content-center">

        <div class="col-xs-10 col-sm-5 ml-5">
            <form (ngSubmit)="onSignIn(f)" #f="ngForm">
                <div class="form-group row">
                    <label for="inputUsername" class="col-form-label"
                        [ngClass]="{'text-warning': userValid, 'text-danger': !userValid}">
                        Username
                        <span *ngIf="!userValid" class="text-danger"><i class="fas fa-exclamation-triangle"></i></span>
                    </label>
                    <div class="col-5">
                        <input type="text" class="form-control-plaintext" id="inputUsername" name="inputUsername"
                            ngModel placeholder="Username" required #username="ngModel" #username />

                    </div>
                </div>
                <div class=" form-group row">
                    <label for="inputPassword" class="col-form-label"
                        [ngClass]="{'text-warning': userValid, 'text-danger': !userValid}">
                        Password
                        <span *ngIf="!userValid" class="text-danger"><i class="fas fa-exclamation-triangle"></i></span>
                    </label>
                    <div class="col-5">
                        <input type="password" class="form-control-plaintext" id="inputPassword" name="inputPassword"
                            ngModel required placeholder="Password">
                    </div>
                </div>

                <p *ngIf="!userValid" class="text-danger">Username or password is incorect.</p>

                <span class="row">
                    <a routerLink="/register" class="text-secondary">need acaunt?</a>&nbsp;&nbsp;
                    <button type="submit" class="btn btn-warning" [disabled]="!f.valid">Sing
                        in</button>
                </span>

            </form>
        </div>
    </div>
</div>